html, body {
  height: 100%;
  width: 100%;
}
.btn-file {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-black);
  --bs-btn-bg: #FD9A18;
  --bs-btn-border-color: #C36F02;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: #EA8502;
  --bs-btn-hover-border-color: #9C5902;
  --bs-btn-focus-shadow-rgb: var(--bs-warning-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #FDAF49;
  --bs-btn-active-border-color: #FDB659;
}
.btn-outline-file {
  --bs-btn-font-weight: 600;
  --bs-btn-color: #FD9A18;
  --bs-btn-bg:transparent;
  --bs-btn-border-color: #C36F02;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: #EA8502;
  --bs-btn-hover-border-color: #9C5902;
  --bs-btn-focus-shadow-rgb: var(--bs-warning-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #FDAF49;
  --bs-btn-active-border-color: #FDB659;
}
/*
background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
*/
.cm-panel.cm-search {
        width:100%;
        background:linear-gradient(325deg,#6b4400,1%,var(--bs-dark),95%,#6b4400);
        border-radius:10px;
        border-style:solid;
        border-width:5px;
        border-color:rgba(0,0,0,.15);
        padding:10px;
        color:var(--bs-white);
      }
      .cm-panel.cm-search .form-control {
        font-family: monospace;
        color:white;
        background:transparent;
      }
      .cm-panel.cm-search .form-control::placeholder {
        color:rgba(175,175,84,.5);
        
      }
      .clpsebtn > button {
        width:1.25rem;
        height:1.25rem;
        background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        background-repeat:no-repeat;
        background-size:1.25rem 1.25rem;
        background-color:transparent;
        border:none;
        transition:transform .2s ease-in-out;
      }
      .clpsebtn > button:not(.collapsed) {
        background-image:url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgba(12, 99, 228,1)'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
        transform:rotate(-180deg);
        
      }